<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyCu6QMLgaMZzTf1VlsAoWXUdBjsgy1D9FU",
        authDomain: "bizlutionp.firebaseapp.com",
        projectId: "bizlutionp",
        storageBucket: "bizlutionp.appspot.com",
        messagingSenderId: "439262773983",
        appId: "1:439262773983:web:ddc212593dff048e651f6a"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>